[Unit]
Description=Set password for the account "pi"
ConditionPathExists=/root/piPassword
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "cat /root/piPassword | /usr/sbin/chpasswd && rm /root/piPassword"

[Install]
WantedBy=multi-user.target
