---
- name: Configure Packages to install on next boot
  become: true
  lineinfile:
    line: "dnsmasq"
    path: "{{ item.key }}/root/packages"
    owner: "0"
    group: "0"
    mode: "0600"
    create: yes
  loop: "{{ root_volume | dict2items }}"
  loop_control:
    label: "{{ item.value }}"

- name: Setup DNSMasq
  template:
    src: dnsmasq.conf.j2
    dest: "{{ item.key }}/etc/dnsmasq.conf"
    owner: "0"
    group: "0"
    mode: "0644"
  loop: "{{ root_volume | dict2items }}"
  loop_control:
    label: "{{ item.value }}"

- name: Configure DNSMasq Default File
  become: true
  copy:
    src: dnsmasq
    dest: "{{ item.key }}/etc/default/dnsmasq"
    owner: root
    group: root
    mode: "0644"
  loop: "{{ root_volume | dict2items }}"
  loop_control:
    label: "{{ item.value }}"

- name: Configure Package Postinstall File
  become: true
  blockinfile:
    path: "{{ item.key }}/root/package_postinstall"
    insertafter: "set -x"
    marker: "### ANSIBLE MANAGED BLOCK - dnsmasq"
    block: |
      systemctl disable --now dnsmasq
      mv /etc/init.d/dnsmasq /etc/init.d/dnsmasq.initd
      sed /lib/systemd/system/dnsmasq.service -i -e "s/Requires=network.target/Requires=network.target sys-subsystem-net-devices-usb0.device{% if use_libComposite | default(true) | bool %} sys-subsystem-net-devices-usb1.device{% endif %}/" -e "s~/etc/init.d/dnsmasq ~/etc/init.d/dnsmasq.initd ~g" -e 's/Type=forking/Type=forking\nRestart=on-failure\nRestartSec=3/'
      systemctl daemon-reload
      systemctl enable --now dnsmasq.service
    owner: "0"
    group: "0"
    mode: "0700"
  loop: "{{ root_volume | dict2items }}"
  loop_control:
    label: "{{ item.value }}"
